@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .container
    padding: 0 15px


  .footer-bottom .container

    padding: 20px 15px
@media only screen and (max-width : 1170px)
  .menu li
    margin: 0 15px 0 0
    a
      font-size: 14px

  .dropDown-wrapper
    margin: 0 auto

  .main-content
    padding-right: 20px

  .category-links
    height: 200px

  .main-category
    margin: 0 0 -30px

  .advantages-box__content
    font-size: 14px
    font-weight: normal

  .advantages-box .text
    font-size: 16px

  .advantages-box h3
    font-size: 20px
    margin: 20px 0 0

  .partners-logos
    padding: 0 20px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .menu li
    margin: 0 10px 0 0
    a
      font-size: 12px

  .btn-border
    height: 40px
    font-size: 14px

  header
    .logo
      max-width: 60px
    .btn
      max-width: 140px

  .main-category
    width: 100%
    margin: 30px auto

  .main-content
    padding: 0
    width: 100%

  .about-img
    width: 300px

  .about-content
    width: calc(100% - 300px)
    padding: 0 0 0 30px
    .box-text
      margin: 30px 0

  .box-text
    font-size: 16px

  .order-services__content
    margin: 0


  .order-services
    padding: 40px 0

    .box-text
      margin: 30px 0 40px

  .date
    margin: 0 0 20px



/* Small Devices, Tablets */
@media only screen and (max-width : 860px)
  .advantages-box
    width: 49%

  .news-slider h3
    font-size: 20px

  .news-block__content .box-text
    font-size: 16px
    margin: 20px 0 auto

  .news-block
    width: 100%
    margin: 0 0 20px

  .poster-news
    width: 100%

  .partners-logos
    padding: 0
    width: 100%

  .partners-content
    width: 100%
    margin: 0 0 20px
    max-width: none
    .box-text
      margin: 20px 0 0

  .partners
    padding: 40px 0 0

  .phone
    font-size: 18px
    margin: 20px 0 10px

  .box-contacts p
    margin: 0 0 20px

  .footer-top
    padding: 0 0 60px

  footer
    padding: 50px 0 0

  .footer-menu li a
    font-size: 14px

@media only screen and (max-width : 768px)
  .menu
    display: none
    position: absolute
    left: 0
    top: 0
    width: 280px
    height: 100%
    padding: 30px
    flex-direction: column
    align-items: flex-start
    z-index: 5
    background: $accent
    li
      margin: 0 0 20px
      a
        color: #fff
        font-size: 16px

  .btn-burger
    display: flex
    order: 1

  .dropDown-wrapper
    margin: 0 20px 0 0
    order: 1

  header
    .btn
      margin: 0 auto

  .advantages-company__box
    margin: 0

  .advantages-company
    padding: 30px 0
    .container
      justify-content: space-around

  .about-content
    width: 100%
    order: -1
    padding: 0
    margin: 0 0 30px

  .p-90
    padding: 60px 0

  .about-img
    width: 100%
    max-width: none

  .reviews-img
    width: 100%
    order: 1
    margin: 30px auto 0

  .reviews-slider
    width: 100%

  .reviews-box .box-text
    font-size: 16px

  .news-block__img
    width: 200px
    height: 220px

  .news-block__content
    width: calc(100% - 200px)

  .line-title .btn
    margin: 0 0 0 20px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 680px)
  .schedule
    margin: 0 0 20px

  .footer-box
    font-size: 14px
    margin: 0 0 20px
    //width: 50%

  .footer-menu
    margin: 0 0 20px

  .footer-top
    padding: 0 0 20px

  .footer-menu li
    margin: 0 0 10px

  .footer-box-img
    margin: 0 0 40px
    max-width: 200px

  footer .logo
    max-width: 80px

  .box-contacts p
    flex-direction: column
    align-items: flex-start
    a
      display: block
      margin: 5px 0 0 0

  .mail
    margin: 0 0 10px

@media only screen and (max-width : 575px)
  .advantages-wrapper
    margin: 30px 0 0

  .advantages
    padding: 40px 0

  .advantages-box
    width: 100%
    min-height: 200px
    height: auto
    .btn
      margin: 20px 0 0

  .advantages-box__content
    padding: 40px 20px
    &:before
      left: 20px
      top: 20px

  .reviews-box
    padding: 30px 30px 60px

  .slick-dots
    padding: 0 30px
    bottom: 20px

  .line-title
    flex-direction: column
    align-items: center
    h2
      width: 100%
    .btn
      margin: 0 auto

  .slider-nav
    margin: 10px auto


@media only screen and (max-width : 480px)
  .dropDown-wrapper
    height: 40px

  .dropDown-item
    font-size: 12px
    padding: 0 16px

  .lang-wrapper
    width: 65px

  .lang-links
    padding: 7px 16px
    font-size: 12px

  .btn-border
    font-size: 12px

  header
    .btn
      max-width: 120px
      height: 40px

  h1
    font-size: 30px
    padding: 20px 0 0

  h2
    font-size: 28px
    padding: 20px 0 0


  .main
    h1
      margin: 0 0 30px
    .btn
      max-width: 150px
      padding: 0
    .links-accent
      font-size: 12px

  .btn
    font-size: 14px
    height: 60px

  .category-links
    height: auto
    font-size: 14px
    padding: 30px 20px

  .advantages-company__box
    max-width: none
    margin: 0 0 30px
    font-size: 16px
    text-align: center
    br
      display: none
    p
      justify-content: center
      text-align: center

  .order-services .btn
    max-width: 150px
    margin: 0 20px 0 0

  .links-accent
    font-size: 14px

  .news-block__content
    width: 100%
    padding: 0
    margin: 20px auto 0
    .box-text
      margin: 20px 0

  .news-block__img
    margin: 0 auto

  .partners-logo
    padding: 0 10px

  footer .btn
    height: 40px
    max-width: 140px

  .address
    max-width: 120px

  .footer-box-img
    margin: 0 0 20px
    max-width: 120px

  .phone
    font-size: 16px

  .footer-bottom
    font-size: 12px

/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  .reviews-box h3
    font-size: 20px

  .logo-company
    max-width: 100px

@media only screen and (max-width : 360px)
  .category-links
    font-size: 12px

